<h3>Showdatetime#display</h3>
<p>Find me in app/views/showdatetime/display.html.erb</p>
<p>Date and Time: <%= @date_time %><br>
<%= image_tag(@timeimg, :class => "img")%>

<p>Month: <%= @monthname %><br />
<%= image_tag(@monthimg, :class => "img")%></p>

<h1><%= link_to 'Olympic medle app', olympicmedles_path %></h1>